<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title><%= title || 'no title' %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">